@import "tailwindcss";
@import "../app//Fonts/Webfonts/fontiran.css";

:root {
  height: 100%;
}

body {
  height: 100vh;
  font-family: IRANYekanX, sans-serif;
  direction: rtl;
  background-color: #f2f3f6;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ss01 {
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}
